
        div.hero-bottom {
            top: auto;
            bottom: 30px;
        }
        
        body {
            font-family: arial, sans-serif;
            font-size: 19px;
            padding: 0 !important;
            /* no white spoace at the top in mobile */
        }
        
        h1 {
            font-size: 70px;
            font-weight: 100;
            line-height: .8;
        }
        
        h2 {
            font-size: 25px;
            font-weight: 100;
            line-height: 1.5;
        }
        
        .bg-grad {
            background: #82c2ed;
            background: -moz-linear-gradient(-45deg, #82c2ed 0, #a381ee 100%);
            background: -webkit-linear-gradient(-45deg, #82c2ed 0, #a381ee 100%);
            background: linear-gradient(135deg, #82c2ed 0, #a381ee 100%);
        }
        
        .bg-grad2 {
            background: #8adbdb;
            background: -moz-linear-gradient(-45deg, #8adbdb 0, #344e9b 100%);
            background: -webkit-linear-gradient(-45deg, #8adbdb 0, #344e9b 100%);
            background: linear-gradient(135deg, #8adbdb 0, #344e9b 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8adbdb', endColorstr='#344e9b', GradientType=1);
        }
        
        .scroll-down {
            cursor: pointer;
        }
    
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
        }
        
        .silex-id-1501830434063-20 {
            top: 5px;
            left: 5px;
            background-color: rgba(163, 205, 255, 1);
        }
        
        .silex-id-1501830434061-19 {
            min-height: 787px;
        }
        
        .silex-id-1501830652625-21 {
            width: 712px;
            min-height: 670px;
            top: 45px;
            left: 320px;
        }
        
        .silex-id-1501830699625-23 {
            min-height: 211px;
            width: 494px;
            top: 294px;
            left: 16px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1501830699625-23 {
                top: 16px;
                left: 11px;
                width: 401px;
                min-height: 267px;
            }
        }
        
        .silex-id-1484655890366-24 {
            min-height: 30px;
            width: 30px;
            top: 744px;
            left: 466px;
        }
        
        .silex-id-1501831890737-42 {
            min-height: 63px;
            width: 192px;
            top: 513px;
            left: 70px;
            border-width: 1px 1px 1px 1px;
            border-style: solid;
            border-radius: 6px 6px 6px 6px;
            border-color: #63b2d8;
        }
        
        .silex-id-1501831890744-43 {
            min-height: 63px;
            width: 192px;
            top: 584px;
            left: 71px;
            border-width: 1px 1px 1px 1px;
            border-style: solid;
            border-radius: 6px 6px 6px 6px;
            border-color: #63b2d8;
        }
        
        .silex-id-1484587463012-11 {
            min-height: 100px;
            top: 669px;
            left: 0px;
        }
        
        .silex-id-1484587463012-10 {
            min-height: 331px;
            background-color: transparent;
        }
        
        .silex-id-1501830251095-16 {
            width: 305px;
            min-height: 290px;
            top: 22px;
            left: 661px;
        }
        
        .silex-id-1484589600542-14 {
            min-height: 162px;
            width: 530px;
            top: 99px;
            left: 28px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1484589600542-14 {
                top: 2px;
                left: 11px;
                width: 423px;
                min-height: 115px;
            }
        }
        
        .silex-id-1484590211530-22 {
            min-height: 100px;
            top: 1000px;
            left: 0px;
            background-color: rgba(245, 245, 245, 1);
            border-color: #000000;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1484590211530-22 {
                top: 1346px;
                left: 0px;
            }
        }
        
        .silex-id-1484590211529-21 {
            min-height: 485px;
            background-color: transparent;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1484590211529-21 {
                min-height: 670px;
            }
        }
        
        .silex-id-1501830809918-25 {
            width: 400px;
            min-height: 348px;
            top: 61px;
            left: 67px;
        }
        
        .silex-id-1484658276174-26 {
            min-height: 331px;
            width: 473px;
            top: 67px;
            left: 489px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1484658276174-26 {
                top: 279px;
                left: 11px;
                width: 423px;
                min-height: 189px;
            }
        }
        
        .silex-id-1484658633791-29 {
            top: 1713px;
            left: 5px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1484658633791-29 {
                top: 2016px;
                left: 0px;
            }
        }
        
        .silex-id-1484658633790-28 {
            min-height: 964px;
            background-color: transparent;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1484658633790-28 {
                min-height: 1425px;
            }
        }
        
        .silex-id-1501830903145-26 {
            width: 400px;
            min-height: 217px;
            top: 194px;
            left: 535px;
        }
        
        .silex-id-1501831000674-29 {
            min-height: 150px;
            width: 544px;
            top: 2px;
            left: 260px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1501831000674-29 {
                top: 279px;
                left: 11px;
                width: 423px;
                min-height: 189px;
            }
        }
        
        .silex-id-1484659675199-32 {
            min-height: 60px;
            width: 450px;
            top: 200px;
            left: 59px;
            border-color: #000000;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1484659675199-32 {
                top: 0px;
                left: 12px;
                width: 421px;
                min-height: 189px;
            }
        }
        
        .silex-id-1501830941768-27 {
            min-height: 60px;
            width: 464px;
            top: 421px;
            left: 403px;
            border-color: #000000;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1501830941768-27 {
                top: 0px;
                left: 12px;
                width: 421px;
                min-height: 189px;
            }
        }
        
        .silex-id-1501830966788-28 {
            width: 250px;
            min-height: 216px;
            top: 354px;
            left: 143px;
        }
        
        .silex-id-1501831796685-40 {
            width: 201px;
            min-height: 257px;
            top: 509px;
            left: 578px;
        }
        
        .silex-id-1501831678288-38 {
            min-height: 60px;
            width: 450px;
            top: 602px;
            left: 107px;
            border-color: #000000;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1501831678288-38 {
                top: 0px;
                left: 12px;
                width: 421px;
                min-height: 189px;
            }
        }
        
        .silex-id-1501831875392-41 {
            width: 300px;
            min-height: 200px;
            top: 733px;
            left: 123px;
        }
        
        .silex-id-1501831702385-39 {
            min-height: 60px;
            width: 464px;
            top: 801px;
            left: 438px;
            border-color: #000000;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1501831702385-39 {
                top: 0px;
                left: 12px;
                width: 421px;
                min-height: 189px;
            }
        }
        
        .silex-id-1484661251321-55 {
            top: 2712px;
            left: 5px;
            background-color: rgba(163, 205, 255, 1);
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1484661251321-55 {
                top: 4669px;
                left: 0px;
            }
        }
        
        .silex-id-1484661251321-54 {
            min-height: 772px;
            background-color: transparent;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1484661251321-54 {
                min-height: 582px;
            }
        }
        
        .silex-id-1501831411917-34 {
            min-height: 156px;
            width: 503px;
            top: 411px;
            left: 475px;
            border-color: #000000;
        }
        
        .silex-id-1501831411910-33 {
            min-height: 365px;
            width: 458px;
            top: 24px;
            left: 20px;
            border-color: #000000;
        }
        
        .silex-id-1501831411924-35 {
            min-height: 63px;
            width: 192px;
            top: 414px;
            left: 144px;
            border-width: 1px 1px 1px 1px;
            border-style: solid;
            border-radius: 6px 6px 6px 6px;
            border-color: #63b2d8;
        }
        
        .silex-id-1501831483253-36 {
            min-height: 63px;
            width: 192px;
            top: 489px;
            left: 143px;
            border-width: 1px 1px 1px 1px;
            border-style: solid;
            border-radius: 6px 6px 6px 6px;
            border-color: #63b2d8;
        }
        
        .silex-id-1484662129693-59 {
            min-height: 100px;
            top: 4282px;
            left: 0px;
            background-color: rgba(245, 245, 245, 1);
            border-color: #000000;
        }
        
        .silex-id-1484662129693-60 {
            min-height: 477px;
            background-color: transparent;
        }
        
        .silex-id-1484662129694-62 {
            min-height: 279px;
            width: 450px;
            top: 104px;
            left: 99px;
        }
        
        .silex-id-1484662129693-61 {
            min-height: 189px;
            width: 353px;
            top: 106px;
            left: 550px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1484662129693-61 {
                top: 279px;
                left: 11px;
                width: 423px;
                min-height: 189px;
            }
        }
        
        .silex-id-1484662129694-63 {
            min-height: 63px;
            width: 192px;
            top: 297px;
            left: 550px;
            border-width: 1px 1px 1px 1px;
            border-style: solid;
            border-radius: 6px 6px 6px 6px;
            border-color: #63b2d8;
        }
        
        .silex-id-1484662096460-58 {
            min-height: 100px;
            top: 4646px;
            left: 0px;
        }
        
        .silex-id-1484662096459-57 {
            min-height: 415px;
            background-color: transparent;
        }
        
        .silex-id-1484662183052-64 {
            min-height: 192px;
            width: 515px;
            background-color: transparent;
            top: 120px;
            left: 258px;
        }
        
        .silex-id-1484662183053-66 {
            min-height: 43px;
            width: 158px;
            top: 126px;
            left: 81px;
        }
        
        .silex-id-1484662183053-67 {
            min-height: 43px;
            width: 158px;
            top: 126px;
            left: 268px;
        }
        
        .silex-id-1484662183053-65 {
            min-height: 83px;
            width: 494px;
            top: 9px;
            left: 11px;
        }
        
        .silex-id-1478366450713-3 {
            top: 5061px;
            left: 0px;
            background-color: transparent;
        }
        
        .silex-id-1478366450713-2 {
            min-height: 219px;
            background-color: transparent;
            width: 1200px;
        }
        
        .silex-id-1442914737143-3 {
            min-height: 75px;
            width: 349px;
            top: 56px;
            left: 337px;
        }
        
        @media only screen and (max-width: 480px),
        only screen and (max-device-width: 480px) {
            .silex-id-1442914737143-3 {
                top: 57px;
                left: 11px;
                width: 423px;
                min-height: 105px;
            }
        }
        
        .silex-id-1501830725225-24 {
            min-height: 30px;
            width: 30px;
            top: 500px;
            left: 683px;
        }
    